package-lock.json
node_modules
.idea
.parcel-cache
/canvas.iml
/src/



# Mac OSX temporary files
.DS_Store
**/.DS_Store

# dfx temporary files
.dfx/

target/

.env.development

Cargo.lock

.dfx
generate-wasm.sh
/backend
dfx.json
canister_ids.json
Cargo.toml
.proxyrc.web3
.proxyrc.web2